<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller</title>
</head>
<body>
    <table class="table">
        <tr>
            <td> Seller name </td>
            <td> <input placeholder="Enter your name" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> address </td>
            <td> <input placeholder="Enter your address" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> email-id </td>
            <td> <input placeholder="Enter your email-id" type="email" class="form-control"> </td>
        </tr>
        <tr>
            <td> Phone no </td>
            <td> <input placeholder="Enter your mobile no" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> DOB </td>
            <td> <input placeholder="Enter your date of birth" type="date" class="form-control"> </td>
        </tr>
        <tr>
            <td> District </td>
            <td> 
                <select class="form-control" name="" id="">
                    <option value="Tumkur"> Tumkur </option>
                    <option value="Davangere"> Davangere </option>
                    <option value="Bidar"> Bidar </option>
                    <option value="Dakshin kannada"> Dakshin kannada </option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Age </td>
            <td> <input placeholder="Enter your age" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Aadhar no </td>
            <td> <input placeholder="Enter your aadhar number" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>